.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.my-1 {
  margin: space rem 0;
}

.my-2 {
  margin: space rem 0;
}

.btn-primary1, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  background: #63a8e0;
  margin: 3px;
}
.btn-primary1:hover, .btn-primary:hover {
  transform: scale(1);
}

.btn-primary {
  background-color: #63a8e0;
  color: #fff;
}

.btn-primary1 {
  margin-left: 36%;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .showcase {
    height: 400px;
  }
  .showcase-content {
    text-align: center;
  }
  .showcase-content img {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dress {
  margin: 0 2rem;
}
.dress_header {
  font-weight: 600;
  color: #fff;
}
.dress_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}
@media screen and (max-width: 768px) {
  .dress_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.dress_container_element img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}
.dress_container_element h3 {
  font-weight: 300;
}
.dress_container_element p {
  font-weight: 300;
}

footer {
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-weight: 500;
  border-top: 1px solid #2d2e36;
  margin-top: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#fff, #afd4f7);
  font-family: "Poppins", arial, sans-serif;
  line-height: 1.5;
}

.showcase {
  background: radial-gradient(#fff, #afd4f7);
  color: set-text-color #4e4343;
  height: 600px;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase ul {
  display: flex;
  list-style-type: none;
}
.showcase li {
  padding: 15px;
}
.showcase a {
  text-decoration: none;
  color: #4e4343;
  font-size: 20px;
  font-weight: 500;
}
.showcase a:hover {
  color: #fff;
}
.showcase-content {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase img {
  margin: 20px;
  width: 50%;
}
.showcase h1 {
  color: #4e4343;
  font-size: 60px;
  line-height: 60px;
}
.showcase p {
  color: #4e4343;
  margin: 20px 0;
}

.form {
  position: relative;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: auto;
  width: 30%;
  margin-bottom: auto;
  border-radius: 20px;
  padding: 2px;
  box-sizing: border-box;
  background: radial-gradient(#fff, #afd4f7);
  box-shadow: 14px 14px 20px #ffffff, -14px -14px 20px white;
}
.form h2 {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 30px;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.form a {
  text-decoration: none;
  color: black;
}
.form input {
  width: 80%;
  font-size: 15px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.form ::placeholder {
  color: black;
  font-size: medium;
}

.logo {
  height: 10%;
  width: 10%;
}/*# sourceMappingURL=style.css.map */