body {
  margin: 0%;
}
.column_left {
  float: left;
  width: 20%;
  margin-right: 20px;
  padding: 0 30px;
  height: 100vh;
  background-color: rgb(128, 188, 241);
}

.column_left a {
  cursor: pointer;
  color: white;
  padding-left: 3%;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
}

li {
  list-style: none;
}

.home {
  padding-top: 20%;
}

.home img {
  margin-left: -25px;
  width: 30px;
  height: 30px;
}

.about img {
  margin-left: -25px;
  width: 30px;
  height: 30px;
}

.projects img {
  margin-left: -25px;
  width: 30px;
  height: 30px;
}

.education img {
  margin-left: -25px;
  width: 30px;
  height: 35px;
}

.contact img {
  margin-left: -25px;
  width: 30px;
  height: 30px;
}

.column_left a:hover {
  color: black;
  font-weight: bolder;
}

.column_left img {
  background-color: none;
  float: left;
}

.column_left p {
  cursor: pointer;
  color: white;
  text-align: left;
  margin-top: 50%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 34px;
}
.column_right #img2 {
  position: relative;
  height: 245px;
  width: 250px;
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column_right h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h1 span{
  transition: .5s linear
}
h1:hover span:nth-child(1){
  margin-right: 5px
}
h1:hover span:nth-child(1):after{
  content: "";
}
h1:hover span:nth-child(2){
  margin-left: 30px
}
h1:hover span{
  color: rgb(128, 188, 241);
  text-shadow: 0 0 10px rgb(255, 255, 255),
               0 0 20px rgb(255, 255, 255), 
               0 0 40px rgb(255, 255, 255);
}

.column_right h3 {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.column_right p {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.column_right_img1 {
  float: left;
  padding: 5px;
  margin-left: 33%;
  margin-right: auto;
  width: 3%;
  height: 3%;
}

.column_right_img2 {
  float: left;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  height: 3%;
}