/* body css */
body {
    margin: 0;
    font-family: poppins;
}

/* css for navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav sports {
    cursor: pointer;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav sports:hover {
    background-color: white;
    color: blue;
}

/* main page css */

.main {
    position: relative;
    text-align: center;
    color: white;
}

.left {
    font-style: italic;
    font-family: poppins;
    position: absolute;
    font-size: 150%;
    top: 40%;
    left: 2.5%;
}

#page1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.sports {
    float: left;
    width: 200px;
    padding: 10px;
    margin: 20px;
    border: 1px solid blue;
}
.sports img {
    width: 200px;
    height: 200px;
}
.sports:hover {
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 10px -10px grey;
    border: 1px solid grey;
}
.desc {
    text-align: center;
    padding: 10px;
}
a:visited {
    color: violet;
}
a:hover {
    color: aquamarine;
}

/*registration css*/

.reg {
    background-color: rgb(205, 205, 205);
}

.regbox {
    position: relative;
    margin-top: 5%;
    margin-left: 38%;
    margin-right: auto;
    width: 24%;
    margin-bottom: auto;
    border-radius: 20px;
    padding: 2px;
    box-sizing: border-box;
    background: #e6e6e6;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

form {
    padding: 35px;
}

select {
    border: 0px;
    box-sizing: border-box;
}

input {
    width: 100%;
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

h2 {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 30px;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

select:invalid{
    color: gray;
}

option{
    color: black;
}

.regbox button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    border: none;
    background: #e6e6e6;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px
}
  
.regbox button:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: none;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
}

/* pricing page css */

.tables {
    margin: 0;
    background: linear-gradient(45deg, #408bed, #5f2c82);
    font-family: sans-serif;
    font-family: poppins;
    font-weight: 100;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th {
    text-align: left;
}

th, td {
    padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: rgb(218, 217, 217);
}

