/* body css */
body {
    margin: 0;
    font-family: poppins;
}

/* css for navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav sports {
    cursor: pointer;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav sports:hover {
    background-color: white;
    color: blue;
}

/* main page css */

.main {
    position: relative;
    text-align: center;
    color: white;
}

.left {
    font-style: italic;
    font-family: poppins;
    position: absolute;
    font-size: 150%;
    top: 40%;
    left: 2.5%;
}

#page1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.sports {
    float: left;
    width: 180px;
    padding: 20px;
    margin: 20px;
    border: 1px solid blue;
}
.sports img {
    width: 180px;
    height: 180px;
}
.sports:hover {
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 10px -10px grey;
    border: 1px solid grey;
}
.desc {
    text-align: center;
    padding: 10px;
}
a:visited {
    color: violet;
}
a:hover {
    color: aquamarine;
}

/*registration css*/

.reg {
    background-color: rgb(205, 205, 205);
}

.regbox {
    position: relative;
    margin-top: 5%;
    margin-left: 38%;
    margin-right: auto;
    width: 24%;
    margin-bottom: auto;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: #e6e6e6;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

form {
    padding: 25px;
}

select {
    border: 0px;
    box-sizing: border-box;
}

input {
    border: 0px;
}

h2 {
    text-align: center;
}